# Python Data Structure
### 1. Series 
 Developed by Ajmal Quraishi\
Date: 01-nov-2023\
E-mail: ajmalquraishi98@gmail.com

In [1]:
import pandas as pd


x = [1,2,36,7,8,9,0,]
pd.Series(x)

0     1
1     2
2    36
3     7
4     8
5     9
6     0
dtype: int64

In [2]:
pd.Series(x, index=['a','b','c','d','e','f','g'])

a     1
b     2
c    36
d     7
e     8
f     9
g     0
dtype: int64

In [5]:
import pandas as pd
a =pd.Series(5, index=['a','b','c','d','e','f','g'])
s = pd.Series(5, index=['a','b','c','d',])
print(a)
print(s)
print(a+s)

a    5
b    5
c    5
d    5
e    5
f    5
g    5
dtype: int64
a    5
b    5
c    5
d    5
dtype: int64
a    10.0
b    10.0
c    10.0
d    10.0
e     NaN
f     NaN
g     NaN
dtype: float64

### Practice of data structure in pandas (Series)
 Developed by Ajmal Quraishi\
Date: 02-nov-2023\
E-mail: ajmalquraishi98@gmail.com

In [10]:
from numpy import var
import pandas as pd
nov =[1,2,3,4,5,6,7,8]
varNov = pd.Series(nov)
varNov
varNov.view
varNov.values
varNov.index
varNov.var()
varNov[0:3]
varNov[1:3]
varNov[1]=0;
varNov

0    1
1    0
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

### Data Structure in pandas (DataFrame)
 Developed by Ajmal Quraishi\
Date: 02-nov-2023\
E-mail: ajmalquraishi98@gmail.com

In [34]:
list1 = [[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]]

df = pd.DataFrame(list1) #list me values rows me ati hai
df

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15

In [31]:
map1={'a':[1,4,5],'b':[2,6,8],'c':[3,9,6]} #dictionary data structure jis me list use hoga
df1=pd.DataFrame(map1, columns=['a','b'])
df1['a'][2]

5

In [35]:
sr = {'a':pd.Series([1,2,3]),'b':pd.Series([4,5,6]),'c':pd.Series([7,8,9]),'d':pd.Series([10,11,12])}
df = pd.DataFrame(sr) #series me vlue columns me ati hai
df

   a  b  c   d
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

## Arthematic operations in pandas
Developed by Ajmal Quraishi\
Date: 06-nov-2023\
E-mail: ajmalquraishi98@gmail.com

In [6]:
import pandas as pd

var = pd.DataFrame({'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]})
var['Arth']=var['A']+var['B']/var['C']
var

   A  B  C      Arth
0  1  4  7  1.571429
1  2  5  8  2.625000
2  3  6  9  3.666667

In [4]:
import pandas as pd
var = pd.DataFrame({'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]})
var['F']= var['A']<= 1
var

   A  B  C      F
0  1  4  7   True
1  2  5  8  False
2  3  6  9  False

### Data Insert and Delete
 Developed by Ajmal Quraishi\
 Date: 07-nov-2023\
 E-mail: ajmalquraishi98@gmail.com

In [2]:
import pandas as pd
var1 = pd.DataFrame({'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]})
var1.insert(0,'python',[1,23,45])
var1

   python  A  B  C
0       1  1  4  7
1      23  2  5  8
2      45  3  6  9