# Python Data Structure
### 1. Series 
 Developed by Ajmal Quraishi\
Date: 01-nov-2023\
E-mail: ajmalquraishi98@gmail.com

In [1]:
import pandas as pd


x = [1,2,36,7,8,9,0,]
pd.Series(x)

0     1
1     2
2    36
3     7
4     8
5     9
6     0
dtype: int64

In [2]:
pd.Series(x, index=['a','b','c','d','e','f','g'])

a     1
b     2
c    36
d     7
e     8
f     9
g     0
dtype: int64

In [5]:
import pandas as pd
a =pd.Series(5, index=['a','b','c','d','e','f','g'])
s = pd.Series(5, index=['a','b','c','d',])
print(a)
print(s)
print(a+s)

a    5
b    5
c    5
d    5
e    5
f    5
g    5
dtype: int64
a    5
b    5
c    5
d    5
dtype: int64
a    10.0
b    10.0
c    10.0
d    10.0
e     NaN
f     NaN
g     NaN
dtype: float64

### Practice of data structure in pandas (Series)
 Developed by Ajmal Quraishi\
Date: 02-nov-2023\
E-mail: ajmalquraishi98@gmail.com

In [10]:
from numpy import var
import pandas as pd
nov =[1,2,3,4,5,6,7,8]
varNov = pd.Series(nov)
varNov
varNov.view
varNov.values
varNov.index
varNov.var()
varNov[0:3]
varNov[1:3]
varNov[1]=0;
varNov

0    1
1    0
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

### Data Structure in pandas (DataFrame)
 Developed by Ajmal Quraishi\
Date: 02-nov-2023\
E-mail: ajmalquraishi98@gmail.com

In [21]:
list1 = [[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]]

df = pd.DataFrame(list1)
df
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [25]:
map1={'a':[1],'b':[2],'c':[3]} #dictionary data structure jis me list use hoga
df1=pd.DataFrame(map1)
df1

   a  b  c
0  1  2  3