In [1]:
import pandas as pd


arr =pd.DataFrame([1,2,3,4,5])
print(arr)

   0
0  1
1  2
2  3
3  4
4  5

In [2]:
arr2 =pd.DataFrame([1,2,3,4,5],index=['a','b','c','d','e'])
print(arr2)

   0
a  1
b  2
c  3
d  4
e  5

In [8]:
df = pd.DataFrame({'A':[1,2,3,4,5,6,7],'B':[1,2,3,4,5,6,7]})

   A  B
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
5  6  6
6  7  7

In [12]:
df.rename(columns={'A':1,'B':2}, inplace=True)
df

   1  2
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
5  6  6
6  7  7

In [15]:
df.columns=df.columns.str.replace(1,'A')
df

   NaN  NaN
0    1    1
1    2    2
2    3    3
3    4    4
4    5    5
5    6    6
6    7    7

In [5]:

import numpy as np
arr3=np.array([[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20]])
pd.DataFrame(arr3)

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20

In [9]:
from lib2to3.pgen2.pgen import DFAState


arr4 = pd.DataFrame(np.random.randn(4, 3), columns=['a', 'b', 'c'])
print(arr4)

          a         b         c
0 -1.292823  1.192393  1.234823
1  1.296574  0.210570 -1.370962
2 -0.452395 -1.022794 -0.730296
3  0.975338 -0.232103 -1.539909

In [4]:
from lib2to3.pgen2.pgen import DFAState
import pandas as pd

arrr =pd.DataFrame(np.random.randn(5, 13), columns=list('abcdfghijklmn'))
print(arrr)

          a         b         c         d         f         g         h  \
0  0.543903  1.347022 -0.018852 -0.849142  1.578779  0.298246  0.028284
1 -0.464130  0.542872  0.676973  0.332074  2.716055 -0.550982 -0.441373
2  0.656976 -0.018058 -1.530970 -2.380302 -0.907857 -0.761507  0.800663
3  0.128873 -1.351084  0.491776  1.918027  0.162760  0.275151 -0.993550
4  0.085782  1.958641  0.265950 -0.451595  0.623552 -0.071091 -1.367801

          i         j         k         l         m         n
0  0.384638  0.381979 -0.259688  0.461070  0.320633 -0.561505
1  0.064849 -0.665218  1.283473 -0.205426 -0.469112 -1.221884
2 -1.562415 -0.142078 -0.294840  1.421660 -1.296564 -0.142641
3 -2.282578 -0.868140 -0.111279 -0.625930  0.349224  0.969282
4  0.759812 -0.165012 -0.799665  0.229758 -1.427538  1.689928