In [1]:
import pandas as pd


arr =pd.DataFrame([1,2,3,4,5])
print(arr)

   0
0  1
1  2
2  3
3  4
4  5

In [2]:
arr2 =pd.DataFrame([1,2,3,4,5],index=['a','b','c','d','e'])
print(arr2)

   0
a  1
b  2
c  3
d  4
e  5

In [8]:

import numpy as np
arr3=np.array([[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20]])
pd.DataFrame(arr3)

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20

In [9]:
arr4 = pd.DataFrame(np.random.randn(4, 3), columns=['a', 'b', 'c'])
print(arr4)

          a         b         c
0 -1.292823  1.192393  1.234823
1  1.296574  0.210570 -1.370962
2 -0.452395 -1.022794 -0.730296
3  0.975338 -0.232103 -1.539909