In [1]:
#pip install seaborn
#pip install matplotlib
#pip install pandas
#pip install numpy

In [5]:
import seaborn as sns
import pandas as pd
sns.load_dataset('titanic')
titanic = sns.load_dataset('titanic')
titanic.head()
titanic.to_excel('titanic2.xlsx')

In [4]:
import pandas as pd
pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df['B']

0    4
1    5
2    6
Name: B, dtype: int64

In [18]:
import numpy as np


arr =np.column_stack([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])
arr
df = pd.DataFrame(arr)
df

   0  1  2   3
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12