## Data Saturation
Developed by Ajmal Quraishi\
Date: 22-oct-2023\
E-mail: ajmalquraishi98@gmail.com

In [3]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic
df.dtypes[df.dtypes == 'object']
titanic[['pclass', 'survived', 'sex', 'age', 'sibsp', 'parch', 'embarked']]

     pclass  survived     sex   age  sibsp  parch embarked
0         3         0    male  22.0      1      0        S
1         1         1  female  38.0      1      0        C
2         3         1  female  26.0      0      0        S
3         1         1  female  35.0      1      0        S
4         3         0    male  35.0      0      0        S
..      ...       ...     ...   ...    ...    ...      ...
886       2         0    male  27.0      0      0        S
887       1         1  female  19.0      0      0        S
888       3         0  female   NaN      1      2        S
889       1         1    male  26.0      0      0        C
890       3         0    male  32.0      0      0        Q

[891 rows x 7 columns]

NameError: name 'df' is not defined